#{$c}-btn {
	background-color: $color-white;
	border-radius: $btn-border-radius;
	border: 0 none;
	color: $color-black;;
	font-size: $btn-font-size;
	padding: $btn-padding;
	text-transform: uppercase;
	transition: $transition-default;

	&#{$c}-btn--active {
		background-color: $color-black;
		color: $color-white;
	}
}
