#{$c}-btn {
	@include btn-box-shadow($color-gray, $btn-border-size);
	padding: $btn-padding;
	border-radius: $btn-border-radius;
	border: 0 none;
	font-size: $btn-font-size;
	text-transform: uppercase;
	color: $color-gray;
	transition: $transition-default;

	&#{$c}-btn--active {
		background-color:$color-gray;
		color: white;
	}
}
