.iphone-x {
	background: $iphone-x-bg-color;
	border-radius: 30px;
	border: 6px solid $iphone-x-color;
	box-shadow: $iphone-x-shadow;
	display: block;
	height: $iphone-x-h;
	position: relative;
	width: $iphone-x-w;

	&:before {
		background: $iphone-x-color;
		border-radius: 0 0 10px 10px;
		content: "";
		height: 12px;
		left: 0;
		margin: auto;
		position: absolute;
		right: 0;
		top: 0;
		width: 60%;
	}
}
