@mixin createPaleteColor($label, $color) {
	$color-variant: 10%;
	$color-darken: darken($color, $color-variant);
	$color-lighten: lighten($color, $color-variant);

	.bg-color-#{$label} {
		background-color: $color;

		&--dark { background-color: $color-darken; }
		&--light { background-color: $color-lighten; }
	}
	.color-#{$label} {
		color: $color;

		&--dark { color: $color-darken; }
		&--light { color: $color-lighten; }
	}
}

@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin flex-center-between-horizontal {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

@mixin flex-center-between-vertical {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@mixin full-size {
	height: 100%;
	width: 100%;
}

@mixin applyLayoutColor($color) {
	background-color: $color;

	#{$c}__input-custom {
		background: linear-gradient(rgba($color, 0), rgba($color, 0.5));
	}

	#{$c}__body {
		background-color: lighten($color, 40%);
	}

	#{$c}__popup {
		background-color: lighten($color, 40%);
	}

	#{$c}-btn:not(#{$c}-btn--primary) {
		color: darken($color, 10%);
		background-color: lighten($color, 30%);

		&#{$c}-btn--active {
			background-color: $color;
			color: white;
		}
	}

	#{$c}__layout-header,
	#{$c}__popup-title,
	#{$c}__popup-btn-show {
		color: $color;
	}
}

@mixin rainbow($prop, $time) {
	$id: unique-id();

	animation: rainbow-#{$id} $time linear infinite forwards;

	@keyframes rainbow-#{$id} {
		0%, 100% {
			#{$prop}: $color-alizarin;
		}
		16.6%, 83.2% {
			#{$prop}: $color-peter-river;
		}
		33.2%, 66.6% {
			#{$prop}: $color-emerald;
		}
		50% {
			#{$prop}: $color-sun-flower;
		}
	}
}
