@mixin createPaleteColor($label, $color) {
	$color-variant: 10%;
	$color-darken: darken($color, $color-variant);
	$color-lighten: lighten($color, $color-variant);

	.bg-color-#{$label} {
		background-color: $color;

		&--dark { background-color: $color-darken; }
		&--light { background-color: $color-lighten; }
	}
	.color-#{$label} {
		color: $color;

		&--dark { color: $color-darken; }
		&--light { color: $color-lighten; }
	}
}

@mixin btn-box-shadow($color, $size) {
	box-shadow: 0 0 0 $size $color;
}

@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin flex-center-between-horizontal {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

@mixin flex-center-between-vertical {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@mixin full-size {
	height: 100%;
	width: 100%;
}
