@mixin createPaleteColor($label, $color) {
	$color-variant: 10%;
	$color-darken: darken($color, $color-variant);
	$color-lighten: lighten($color, $color-variant);

	.bg-color-#{$label} {
		background-color: $color;

		&--dark { background-color: $color-darken; }
		&--light { background-color: $color-lighten; }
	}
	.color-#{$label} {
		color: $color;

		&--dark { color: $color-darken; }
		&--light { color: $color-lighten; }
	}
}

@mixin flex-center {
	align-items: center;
	display: flex;
	justify-content: center;
}

@mixin flex-center-between-horizontal {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}

@mixin flex-center-between-vertical {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
}

@mixin full-size {
	height: 100%;
	width: 100%;
}

@mixin applyLayoutColor($color) {
	background-color: $color;

	#{$c}__layout-body form > input[type=number] {
		background: linear-gradient(rgba($color, 0), rgba($color, 0.5));
	}

	#{$c}__body {
		background-color: lighten($color, 40%);
	}

	#{$c}-btn:not(#{$c}-btn--primary) {
		color: darken($color, 10%);
		background-color: lighten($color, 30%);

		&#{$c}-btn--active {
			background-color: $color;
			color: white;
		}
	}

	#{$c}__layout-header {
		color: $color;
	}
}
