@import url('https://fonts.googleapis.com/css?family=Varela+Round');

// Classname Default
$c: '.mathematics';

// Baseline
$baseline: 1rem;

// Colors
$color-gray: #89A1AA;
$color-yellow: #f1c40f;
$color-green: #27ae60;
$color-blue: #2980b9;
$color-gray-dark: #2c3e50;

// Lvls
$lvls: (
	('easy', $color-yellow),
	('normal', $color-blue),
	('hard', $color-gray-dark),
	('very-hard', $color-green)
);

// Iphone X
$iphone-x-w: 350px;
$iphone-x-h: 680px;
$iphone-x-color: #f1f1f1;
$iphone-x-bg-color: #ffffff;
$iphone-x-shadow: 0 20px 40px rgba(black, 0.30), 0 15px 10px rgba(black, 0.22);

// Font Family
$VarelaRound: 'Varela Round', sans-serif;

// Button
$btn-border-radius: 4px;
$btn-border-size: 3px;
$btn-padding: .8rem 1.6rem;
$btn-font-size: .8rem;

// Transition
$transition-default: all .2s linear;
