@import url('https://fonts.googleapis.com/css?family=Khand');

// Classname Default
$c: '.mathematics';

// Colors
$color-gray: #89A1AA;
$color-pink: #FA3378;
$color-purple: #6A1CF6;
$color-yellow: #FEB100;

// Iphone X
$iphone-x-w: 250px;
$iphone-x-h: 470px;
$iphone-x-color: #080808;
$iphone-x-bg-color: #ffffff;
$iphone-x-shadow: 0 20px 40px rgba(black, 0.30), 0 15px 10px rgba(black, 0.22);

// Font Family
$Khand: 'Khand', sans-serif;
