// Settings
@import 'variables';
@import 'mixins';
@import 'colors';

// Components
@import 'background';
@import 'iphone-x';
@import 'layout';
@import 'button';

body {
	overflow: hidden;
}

body, html {
	@include full-size();
	margin: 0;
	padding: 0;
}

.box {
	width: 100px;
	height: 100px;
}
