// Settings
@import 'variables';
@import 'mixins';

// Components
@import 'layout';
@import 'button';
@import 'form-save';
@import 'operation';
@import 'popup';
@import 'table';

* {
	box-sizing: border-box;
}

body {
	overflow: hidden;
	font-size: 18px;
}

body, html {
	@include full-size;
	margin: 0;
	padding: 0;
}

body,
button,
input {
	font-family: $VarelaRound;
}

#{$c} {
	@include flex-center();
	@include full-size();
	transition: $transition-default;

	#{$c}__body {
		overflow: hidden;
		border-radius: 30px;
		box-shadow: $mathematics-body-shadow;
		display: block;
		height: $mathematics-body-h;
		position: relative;
		width: $mathematics-body-w;

		@media screen and (max-width: $mobile) {
			& {
				border-radius: 5px;
				height: calc(100% - 2rem);
				width: calc(100% - 2rem);
			}
		}
	}

	#{$c}__layout-header {
		transition: $transition-default;
	}

	#{$c}__input-custom {
		font-size: $input-font-size;
		width: 100%;
		margin: 1rem 0;
		border: 0;
		border-bottom-width: $input-border-width;
		border-style: solid;
		border-radius: $input-borderr-radius;
		text-align: center;

		@media screen and (max-width: $mobile) {
			font-size: 2rem;
		}

		&::placeholder {
			color: rgba($color-black, 0.15);
		}

		&[type=number]::-webkit-inner-spin-button,
		&[type=number]::-webkit-outer-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}
	}

	@each $lvl in $lvls {
		$lvl-label: nth($lvl, 1);
		$lvl-color: nth($lvl, 2);

		// Mathematics lvl
		&#{$c}--lvl-#{$lvl-label} {
			@include applyLayoutColor($lvl-color);
		}

		// Mathematics is correct
		&#{$c}--is-correct {
			@include applyLayoutColor($color-emerald);
		}

		// Mathematics is wrong
		&#{$c}--is-wrong {
			@include applyLayoutColor($color-alizarin);
		}
	}

	#{$c}__init,
	#{$c}__finish {
		#{$c}-btn {
			margin: .4rem 0;
			width: 100%;
		}
		&#{$c}-btn--primary {
			margin-top: 1.2rem;
		}
	}

	#{$c}__init,
	#{$c}__start,
	#{$c}__finish {
		@include full-size;
	}

	#{$c}__start {
		@media screen and (max-width: $mobile) {
			#{$c}-btn--default {
				font-size: 1.2rem;
			}
		}

		form > div {
    	display: flex;
		}

		#{$c}-btn {
			margin: .2rem;
			width: 100%;
		}
	}

	#{$c}__timeout-amount {
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		background: rgba($color-white, 0.4);
	}

	#{$c}__message {
		min-height: 2rem;
	}

	#{$c}__message-hits {
		font-size: 2rem;
    display: flex;
    justify-content: center;
		margin-bottom: 1rem;

		div:first-child {
			margin-right: .5rem;
		}

		div:last-child {
			margin-left: .5rem;
		}
	}

	#{$c}__text-rainbow {
		@include rainbow(color, 1s);
	}

	#{$c}__text-left {
		text-align: left;
	}

	#{$c}__text-right {
		text-align: right;
	}

	#{$c}__tr-active {
		@include rainbow(background-color, 5s);
	}
}

#{$c}--flex-center-between-horizontal,
#{$c}__flex-center-between-horizontal {
	@include flex-center-between-horizontal;
}

#{$c}--flex-center-between-vertical,
#{$c}__flex-center-between-vertical {
	@include flex-center-between-vertical;
}

.app {
	@include full-size;

	.developed-by {
    position: absolute;
    right: 2rem;
    bottom: 2rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: .6rem;
	}
}
